@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@300;400;700&family=Montserrat:wght@400;700;800&family=Poppins:wght@300;400;600&family=Playfair+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body text-primary bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-3 bg-primary text-white font-bold rounded hover:opacity-90 transition-opacity duration-300;
  }

  .btn-accent {
    @apply px-6 py-3 bg-accent-gradient text-white font-bold rounded hover:opacity-90 transition-opacity duration-300;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}